.Deck {
    flex: 1;
    position:relative;
}

.deckCount {
    position:absolute;
    top:100px;
    left:120px;
    background-color:white;
    border-radius: 50%;
    padding:10px;
    border:black;
    font-size: 38px;

}